# MongoDB
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/foodtracker
MONGO_URI=mongodb+srv://team_db_user:qSiVsHmQwj2BM5lK@cluster0.yxfdy3p.mongodb.net/

# Firebase
FIREBASE_PROJECT_ID='foodtracker-dac43'
FIREBASE_PRIVATE_KEY='61e06002e3281f1dd2f098f1529a70ff282a9038'
FIREBASE_CLIENT_EMAIL='firebase-adminsdk-fbsvc@foodtracker-dac43.iam.gserviceaccount.com'

# Server
PORT=4000
NODE_ENV=development

# Image Storage
S3_BUCKET=your-bucket-name
S3_REGION=us-east-1
S3_ACCESS_KEY=your-access-key
S3_SECRET_KEY=your-secret-key
